
img
img/
adm/
bbs/
data/
install/
extend/
lib/
mobile/
shop/
skin/
git/
plugin/
framework
.vscode/


*.gif
*.png
*.php
*.md
*.sh
*.text
*.scss

!/GJ/
!theme/basic/head.php
!theme/basic/head_wide.php
!theme/basic/head.sub.php
!theme/basic/index.php
!theme/basic/tail.php
!theme/basic/tail.sub.php
!theme/basic/theme.config.php