@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

ul, dl, ol, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

#wrap section > div {
  height: 100vh;
}

h4 {
  margin: 3em 0;
  text-align: center;
  -webkit-transform: translateX(0.5em);
          transform: translateX(0.5em);
}

h4::after {
  position: relative;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: #ffd006;
  border-radius: 50%;
  -webkit-transform: translateX(-0.5em);
          transform: translateX(-0.5em);
}

h4[class="white"]::after {
  margin-top: 1em;
  background-color: white;
}

#side {
  text-align: right;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
}

#side ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#side ul li a strong {
  vertical-align: middle;
  margin-right: 2rem;
  color: transparent;
}

#side ul li a .circle {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  border-radius: 50%;
}

#side ul li a:after {
  vertical-align: middle;
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1px;
  background-color: transparent;
}

#side ul li:hover .circle, #side ul li.on .circle {
  background-color: #ffd006;
}

#side ul li:hover strong, #side ul li.on strong {
  color: black;
}

#side ul li:hover a:after,
#side ul li.on a:after {
  background-color: #ffd006;
}

.slideme .myswiper {
  max-height: 280px;
  height: 100vw;
  /*화면너비만큼 높이 조절*/
}

.slideme .myswiper .prev {
  color: #ffd006;
}

.slideme .myswiper .next {
  color: #ffd006;
}

.slideme .myswiper .swiper-wrapper .slide {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.slideme .myswiper .swiper-wrapper .s1 {
  background-image: url("/img/s1.png");
}

.slideme .myswiper .swiper-wrapper .s2 {
  background-image: url("/img/s2.png");
}

.slideme .myswiper .swiper-wrapper .s3 {
  background-image: url("/img/s3.png");
}

.slideme .myswiper .swiper-wrapper .s4 {
  background-image: url("/img/s4.png");
}

.slideme .myswiper .swiper-wrapper .s5 {
  background-image: url("/img/s5.png");
}

.slideme .myswiper .swiper-wrapper .s6 {
  background-image: url("/img/s6.png");
}

.slideme .myswiper .swiper-wrapper .s7 {
  background-image: url("/img/s7.png");
}

.slideme .myswiper .swiper-wrapper .s8 {
  background-image: url("/img/s8.png");
}

.extitle {
  margin-top: 2em;
  text-align: center;
}

.extitle .ext {
  font-size: 1em;
  line-height: 3em;
  border-radius: 3em;
  padding: 0 3em;
  margin: 0.5em 1em;
  border: 2px solid #ffd006;
  background-color: white;
  -webkit-transition: 0s;
  transition: 0s;
}

.extitle .second {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#volunteer {
  background-image: url(/img/volunBg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#volunteer h4 {
  padding-top: 3rem;
  color: white;
}

#volunteer .volunteerwrap {
  vertical-align: middle;
}

#volunteer .volunteerwrap ul li strong {
  position: relative;
  z-index: 2;
  color: black;
  text-align: center;
  background-color: #ffd006;
  pointer-events: none;
}

#volunteer .volunteerwrap ul li strong.ext {
  font-size: 1em;
  line-height: 3em;
  border-radius: 3em;
  padding: 0 3em;
  margin: 0.5em 1em;
  border: 2px solid #ffd006;
}

#volunteer .volunteerwrap ul li span {
  pointer-events: none;
  text-align: left;
  color: white;
}

#volunteer .volunteerwrap ul li span.ext {
  font-size: 1em;
  line-height: 3em;
  border-radius: 3em;
  padding: 0 3em;
  margin: 0.5em 0;
  border: 2px solid #ffd006;
  background-color: transparent;
}

#volunteer .volunteerwrap ul li:nth-child(3) strong {
  margin: 0.5em 1.3em;
}

.interviewcontents {
  max-width: 600px;
}

.interviewcontents input[id*="a"] {
  display: none;
}

.interviewcontents input[id*="a"] + label {
  display: block;
  padding: 20px;
  border: 1px solid #ffd006;
  border-bottom: 0;
  font-size: 0.9em;
  font-weight: 700;
  background-color: #ffd006;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.interviewcontents input[id*="a"] + label em {
  position: absolute;
  top: 1.2em;
  right: 2em;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: 3px solid black;
  border-top: none;
  border-right: none;
}

.interviewcontents input ~ div {
  max-height: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  overflow: hidden;
  background-color: #ffffff;
  border: 3px solid #ffd006;
}

.interviewcontents input ~ div p {
  display: inline-block;
  padding: 20px;
  margin-left: 1em;
}

.interviewcontents input:checked + label + div {
  max-height: 500px;
}

.interviewcontents input[id*="a"]:checked + label em {
  top: 1.5em;
  border: 3px solid black;
  border-bottom: none;
  border-left: none;
}

#contact {
  background-image: url("/img/main_right.gif");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#contact .email {
  margin-top: 3rem;
  font-size: 3rem;
}
